.wd-main-css-heading {
  color: green;
  background-color: yellow;
}
  
.wd-fg-color-black {
    color: black;
}

.wd-fg-color-white {
    color: white;
}

.wd-fg-color-blue {
    color: #7070ff;
}

.wd-fg-color-red {
    color: #ff7070;
}

.wd-fg-color-green {
    color: green;
}

.wd-fg-color-yellow {
    background-color: #ffff07;
}

.wd-fg-color-blue {
    background-color: #7070ff;
}

.wd-fg-color-red {
    background-color: #ff7070;
}

.fg-color-green {
    background-color: green;
}