.wd-fg-color-black { color: black; }
.wd-fg-color-white { color: white; }
.wd-fg-color-blue { color: #7070ff; }
.wd-fg-color-red { color: #ff7070; }
.wd-fg-color-green { color: green; }

.wd-bg-color-yellow {
    background-color: black;
}
.wd-bg-color-blue {
    background-color: white;
}
.wd-bg-color-red {
    background-color: #ff7070;
}
.wd-bg-color-green {
    background-color: green;
}

.wd-sidebar-Account {
    width: 75px;
    height: 75px;
 }
 
 .wd-sidebar-Dashboard {
    width: 75px;
    height: 75px;
 }
 
 .wd-sidebar-Courses {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Calendar {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Inbox {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-History {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Studio {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Commons {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Help {
    width: 75px;
    height: 75px;
 }