.wd-sidebar-Account {
    width: 75px;
    height: 100px;
 }
 
 .wd-sidebar-Dashboard {
    width: 100px;
    height: 75px;
 }
 
 .wd-sidebar-Courses {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Calendar {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Inbox {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-History {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Studio {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Commons {
    width: 75px;
    height: 75px;
 }

 .wd-sidebar-Help {
    width: 75px;
    height: 75px;
 }